*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: crimson;
}
.card{
      width: 700px;
      background-color: #ccc;
      padding: 20px;
      margin: 20px;
      line-height: 28px;
}
::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 100px;
    background: linear-gradient(#00DBDE,#FC00FF);
}